<div class="medium-3 small-6 columns">
  <div class="t-element dontHide">
    <div class="t-photo">
      <div class="image-hover-overlay"></div>
        <a href="#" class="f-category"></a> <a href="mailto:{tag_email address}">
      <div class="portfolio-meta">
          <div>{tag_email address}</div>
      </div>
      </a> <img src="{tag_image_value}" alt="{tag_name_nolink}" /> </div> 
    <div class="t-data">
        <div class="t-name">{tag_name_nolink}</div>
        <div class="t-info">{tag_title}</div>
      <div class="t-spacer"></div>
      <div class="t-social">
        <ul>
            <li><a href="{tag_facebook link}"><em class="fa fa-facebook" aria-hidden="true"></em></a></li>
            <li><a href="{tag_twitter link}"><em class="fa fa-twitter" aria-hidden="true"></em></a></li>
            <li><a href="{tag_tumblr link}"><em class="fa fa-tumblr" aria-hidden="true"></em></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>