/*==============================================================

	Version : 2009.08.10

	BC Gurus edited and reduced this file April 2016, if you need to go back
	to the default modulestylesheets.css for any reason just delete this 
	file and Business Catalyst will re-insert the latest copy.

==============================================================*/

/* @group Web Form */
ul.form{margin:0;padding:0;}
ul.form li{list-style:none;margin:0 0 18px;}
ul.form li label{color:#888;display:block;}
div.form div.item,div.webform div.item{padding:9px;}
.cat_dropdown_small{width:200px;}
.cat_dropdown_smaller{width:150px;}
.cat_listbox{height:120px;}
table.webform,table.reporting{border-collapse:collapse;border-spacing:0;width:100%;}
table.webform td{line-height:24px;padding:6px;}
.form label,.webform label{display:inline;}
.form input,.webform input,.webform select{margin-bottom:0!important;margin-right:3px;}
/* @end */

/* @group System Message */
.system-message-green{background-color:#E2F9E3;border:1px solid #9C9;clear:both;color:#363;margin-bottom:15px;text-align:center;padding:5px;}
.system-message,.system-error-message{background-color:#f9f9f9;border:1px solid #eee;color:#666;margin:18px;padding:15px;}
.system-message h1,.system-error-message h1{color:#000;margin:0 0 18px;}
.system-message a:link,.system-error-message a:link{color:#1969bc;}
.ok{background:#E9FBE3;color:#21A347;margin-bottom:18px;}
.error{background:#FBE3E4;color:#D12F19;margin-bottom:18px;}
/* @end */

/* @group Announcement */
.announcement-details span.date{display:block;font-size:14px;margin-bottom:18px;}
/* @end */

/* @group Blog */
.comment-list{background:#f9f9f9;border:1px solid #eee;margin-bottom:36px;padding:18px;}
.comment-list h5{font-size:14px;margin:0 0 18px;}
.comment-list textarea.cat_listbox_small{height:120px;width:100%;}
.blog-comment-container{border:1px solid #e9e9e9;margin:0 0 18px;}
.blog-comment-container .comment-details{background:#eee;font-size:11px;padding:6px;}
.blog-comment-container .comment{background:#fff;padding:9px;}
span.flag{vertical-align:middle;margin:0 6px;}
textarea.comment{height:160px;width:100%;}
.forum-registration textarea.comment{height:70px;width:270px;}
.post-body .links{font-size:11px;}
.BlogTagCloud{margin:0 0 18px;}
.comment-list input#Captcha,input#fullname,input#website,input#emailaddress{width:300px;}
/* @end */

/* @group Booking */
.booking-list{margin:0 0 9px;}
.booking-list span.date{margin:0 9px 0 0;}
.booking-container h1,.form-container h2{margin:0 0 18px;}
.form-container{background:#f9f9f9;border:1px solid #eee;padding:18px;}
.form-container input#FirstName,.form-container input#LastName,.form-container input#EmailAddress,.form-container input#Company,.form-container input#WorkPhone{width:260px;}
.go-back{margin:18px 0;}
/* @end */

/* @group Calendar */
div.select-month-year{padding:9px 0;}
table.module-calendar{border:1px solid #888;border-collapse:collapse;table-layout:fixed;width:100%;}
table.module-calendar td{border:1px solid #d7d7d7;font-size:11px;height:80px;overflow:hidden;vertical-align:top;padding:0;}
table.module-calendar td span{background:#f7f7f7;color:#333;display:block;font-size:11px;text-align:right;padding:0 2px;}
tr.day-of-week td{background:#d7d7d7;color:#000;font-size:12px;font-weight:700;height:18px;text-align:center;vertical-align:middle;}
table.module-calendar td.events span{background:#2BABFA;color:#fff;font-weight:700;}
table.module-calendar td.events{background:#EEF5FA;}
table.module-calendar td ul{padding-left:24px;margin:9px 0;}
table.module-calendar td.last-month,table.module-calendar td.next-month{background:#eee;}
/* @end */

/* @group Catalogue and Products */
.shop-catalogue{background:#fff;border:1px solid #ccc;float:left;height:180px;overflow:hidden;width:180px;margin:0 6px 6px 0;}
.shop-catalogue h4{font-size:12px;height:27px;line-height:27px;text-indent:9px;margin:0;}
.shop-catalogue h4 a{color:#1969bc;text-decoration:none;}
.shop-catalogue .image{height:120px;overflow:hidden;text-align:center;margin:0 auto;padding:15px;}
.shop-main .header{border-bottom:1px solid #eee;height:27px;line-height:27px;margin:0 0 18px;}
.shop-main .breadcrumbs{float:left;width:40%;}
.shop-main .cart-summary{float:right;width:40%;}
.shop-main .description ul{margin:0 0 0 18px;padding:0;}
.shop-main .description li{list-style:square;}
table.cartSummaryTable{border-collapse:collapse;border-spacing:0;font-size:12px;}
a.cartSummaryLink{display:inline!important;margin:0 0 0 5px;}
.shop-main ul{margin:0;padding:0;}
.shop-main ul.catalogueList{display:none;}
.shop-main li{list-style:none outside none;}
.shop-main .productSmall > li{display:inline;float:left;list-style:none outside none;text-align:center;width:41.9999%;margin:0 0 30px;padding:0 15px;}
.shop-product-small ul li{width:auto!important;display:block;float:none;font-size:11px;margin:0 auto!important;}
table.catalogueTable{border-collapse:collapse;border-spacing:0;width:100%;margin:0 0 18px;}
.productSmall .image img{border:1px solid #bbb;box-shadow:0 0 2px rgba(0,0,0,0.14);}
table.productTable{border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;}
.shop-product-small h5{font-size:12px;font-weight:400;min-height:36px;margin:0;padding:18px 18px 6px;}
.shop-product-small h3 a{text-decoration:none;}
.shop-product-small ul{padding:0 18px;}
.shop-product-small li.price strong{font-size:14px;margin-left:6px;}
.shop-product-small li.stock strong{color:#666;margin-left:3px;}
.shop-product-small .image{height:120px;overflow:hidden;width:120px;text-align:center;margin:0 auto 9px;}
.image a,td.actions a{border:none!important;}
.shop-product-small li.quantity{line-height:30px;}
.shop-product-small li.quantity strong{display:inline;float:right;}
.quantity input{width:99px;}
li.quantity img{position:relative;top:8px;}
.shop-product-small li.quantity input.productTextInput{width:50px;}
.shop-product-large{background:#fff;color:#666;min-width:240px;overflow:hidden;margin:0 0 18px;}
.shop-product-large h1{color:#000;font-size:14px;}
.shop-product-large .image{text-align:center;}
.shop-product-large .shop-product-small .image{min-height:160px;height:auto!important;text-align:center;width:auto;margin:0;padding:18px;}
.shop-product-large .shop-product-small .image img{width:100%;}
.shop-product-large .shop-product-small ul{padding:9px;}
.shop-product-large li.price{color:#f16504;font-size:33px;font-weight:700;}
.shop-product-large li.instock{font-size:10px;}
.shop-product-large li.quantity input.productTextInput{float:left;font-size:16px;height:22px;width:35px;margin:0 15px 0 0;}
td.productItem .comment-form input#Captcha{width:300px;}
.poplets{border-top:1px solid #eee;margin-top:36px;padding:9px 0;}
.poplets img{border:1px solid #ddd;}
table.productPoplets{border-collapse:collapse;border-spacing:0;margin:0 auto;}
.shop-product-large .details{background:#f9f9f9;float:left;min-height:360px;height:auto!important;width:30%;padding:18px;}
.shop-product-large ul{margin:0 0 36px;padding:0;}
.shop-product-large li{margin:9px 0;}
table.cart{background:#fff;border-collapse:collapse;border-spacing:0;border:1px solid #ddd;font-size:11px;width:100%;}
table.cart td{vertical-align:top;}
table.cart th,table.cart td{color:#666;padding:9px;}
tr.val td{border-bottom:1px solid #eee;}
tr.shipping td{border-bottom:1px solid #ddd;}
td.quantity input.update{margin:0 0 0 3px;}
table.cart th{background:#f9f9f9;border-bottom:1px solid #eee;color:#000;font-size:11px;font-weight:400;text-align:left;}
input.cartInputText{width:70px;}
input#DiscountCode,input#GiftVoucher{display:inline;width:70px;}
select.shippingDropDown{width:150px;}
.productitemcell{height:23px;line-height:20px;overflow:hidden;margin:0 0 3px;}
table.cart td.actions a{font-size:12px;font-weight:700;text-decoration:none;margin:0 18px 0 0;}
table.cart strong{font-size:14px;}
.shop-form ul.form{background:#f9f9f9;border:1px solid #eee;padding:18px;}
.shop-form ul.form li{margin:0;padding:9px 0;}
.shop-form li.last{border-top:1px solid #eee;}
.catalogueitemdump,.shop-product-large .shop-product-small ul,.shop-product-large .shop-product-small li{margin:0;}
td.cartSummaryItem,table.catalogueTable td{padding:0;}
.shop-product-small h4 a,table.cart a{color:#1969bc;}
.shop-product-small li.price,.shop-product-small li.stock,.shop-form label{font-size:11px;}
.shop-cart .breadcrumbs,.shop-form{margin:0 0 18px;}
tr.discount td.quantity,tr.shipping td.quantity,table.cart th.quantity,table.cart td.quantity,table.cart td.actions{text-align:right;}

input.PaymentMethodType{margin:0 6px 0 0;}
.shop-form ul.form input.cat_textbox,.shop-form ul.form select.cat_dropdown,.shop-form ul.form textarea.cat_listbox{width:260px;}
.shop-form textarea.cat_listbox{height:100px;}
.shop-receipt,.shop-quote-receipt{background:#f9f9f9;border:1px solid #eee;margin:18px;padding:18px;}
.shop-receipt h1,.shop-quote-receipt h1{border-bottom:1px solid #ccc;padding:0 0 3px;}
.shop-receipt h2,.shop-quote-receipt h2{font-size:12px;font-weight:400;}
/* @end */

/* @group Customer Cases */
table.case-list{border-collapse:collapse;border-spacing:0;width:100%;margin:0;}
table.case-list td.subject,table.case-list td.category{width:40%;}
table.case-list td.status{width:20%;}
table.case-details{background:#f9f9f9;border-collapse:collapse;border-spacing:0;border:1px solid #eee;width:100%;}
table.case-details tr.odd td{background:#fff;}
table.case-details td.var{color:#888;text-align:right;width:130px;}
table.case-details td.val{color:#000;}
table.case-list td,table.case-details td{padding:6px;}
/* @end */

/* @group Customer Orders */
table.border{border-collapse:collapse;border-spacing:0;border-right:1px solid #eee;border-bottom:1px solid #eee;}
table.border td{border-top:1px solid #eee;border-left:1px solid #eee;}
table.border span{color:#888;}
table.order-list{border-collapse:collapse;border-spacing:0;width:100%;}
table.order-list td{border:1px solid #eee;}
table.order-list a{margin:0 9px 0 0;}
table.order-list span.number{font-size:11px;}
/* @end */

/* @group Comment */
.comment-container{background:#f9f9f9;border:1px solid #eee;margin:0 0 18px;}
.comment-container .header{background:#eee;font-size:11px;padding:6px 18px;}
.comment-container span.name{color:#000;}
.comment-container span.rating{vertical-align:middle;margin:0 9px;}
.comment-container .content{padding:18px;}
.comment-form{background:#f9f9f9;border:1px solid #eee;color:#666;margin:0;padding:18px 18px 0;}
.comment-form h3{font-size:14px;margin:0 0 18px;}
.comment-form input.cat_textbox_small,.comment-form textarea{width:300px;}
.comment-form textarea{height:120px;}

/*start shopping cart*/
.cartrow{border-bottom:1px solid #EEE;border-top:1px solid #EEE;font-size:13px;margin-left:0!important;text-transform:uppercase;}
.cartlabel{float:left;font-weight:700;padding-bottom:3px;padding-top:3px;}
.cart-item{color:#333;float:left;font-size:13px;width:10%;}
.productitemcell{border-bottom:1px solid #EEE;height:115px;line-height:20px;overflow:hidden;padding:15px 0 0;}
.product-image img{border:1px solid #EEE;max-width:100px;}
/*.product-remove a:link,.product-remove a:visited{background:url(/_assets/css/images/cart-remove.gif) no-repeat scroll 0 0 transparent;display:block;font-size:0;height:27px;line-height:0;text-indent:-9999px;width:25px;}
.product-remove a:hover,.product-remove a:active{opacity:0.8;}*/
.cldetails{width:46%;}
.clprice,.cltax,.clcost,.clremove{width:10%;}
#catCartDetails .product-image{width:13%;}
.product-title{width:33%;}
.clqty,.product-qty{width:14%;}
.product-qty input.cartInputText{width:60%;}
.cart-opt{overflow:hidden;margin:0;padding:10px 0;}
.cart-opt p{margin:0 0 3px;}
#cart-footer hr{margin:3px 0;}
#opt-total-container{border-bottom:1px solid #EEE;overflow:hidden;background:none repeat scroll 0 0 #EEE;margin:0;padding:20px;}
.opt-total-data .productitemcell{border:medium none;height:auto;padding:0;}
.opt-total-data{text-align:right;}
.opt-total-data h3{margin:0;}
select.shippingDropDown{width:95%;}

@media only screen and (max-width: 767px) {
    .cartlabel{float:left;font-size:12px;font-weight:400;padding-bottom:3px;padding-top:3px;text-transform:capitalize;text-align:center;}
    .product-remove a:link,.product-remove a:visited{float:right;}
    .cart-item{font-size:12px;width:20%;}
    .cldetails{width:33%;}
    .clprice,.cltax,.clcost,.clremove{width:13%;}
    .product-image{display:none;width:13%;}
    .product-title{width:18%;padding:0;}
    .clqty,.product-qty{text-align:center;width:12%;}
    #catCartDetails input.cartInputText{margin:0 0 0 10px;}
    .row.cartrow{margin-bottom:0;}
    .cart-item.product-remove{width:22px;padding:0;}
}

/* @end */

/* @group FAQ */
table.faq-search{background:#f9f9f9;border-collapse:collapse;border-spacing:0;border:1px solid #eee;width:100%;margin:0 0 18px;}
table.faq-search label{color:#888;}
table.faq-search td{border-collapse:collapse;border-spacing:0;padding:9px;}
table.faqresultstable{background:#fff;border-collapse:collapse;border-spacing:0;border:1px solid #eee;width:100%;}
table.faqresultstable td{color:#666;padding:9px;}
table.faqresultstable a{color:#1969bc;}
table.faqresultstable td.faqresultstableinfo{background:#f9f9f9;color:#888;font-size:10px;text-align:right;padding:3px 18px;}
table.faqresultstable td.faqresultstablecount{padding-left:18px;width:10px;}
td.faqresultstablehead{background:#fff;border-collapse:collapse;border-spacing:0;border-bottom:1px solid #eee;color:#000;font-weight:700;}
/* @end */

/* @group Forums */

/* NOTE: div.post-list exists in BLOG as well */
.forum-container h1{font-size:24px;}
table.topic-list,div.forum-posts-container div.post-list,div.forum-registration{color:#666;}
div.forum-registration h2{color:#000;}
table.forum{background:#f9f9f9;border-collapse:collapse;border-spacing:0;border:1px solid #eee;width:100%;}
table.forum td{font-size:11px;vertical-align:top;padding:9px;}
table.forum td.topics{border-left:1px solid #eee;border-right:1px solid #eee;width:90px;}
table.forum td.posts{border-right:1px solid #eee;width:90px;}
table.forum td.lastpost{border-left:1px solid #eee;width:180px;}
table.forum .icon{float:left;width:50px;}
table.forum .forum{margin:0 0 0 50px;}
table.forum h3{margin:0;}
table.forum h3 a{text-decoration:none;}
ul.cap-top,ul.cap-bottom{font-size:11px;height:30px;margin:0 0 18px;padding:0;}
ul.cap-bottom{margin:18px 0 0;}
ul.cap-top li,ul.cap-bottom li{display:block;line-height:30px;list-style:none;}
ul.cap-top li.user,ul.cap-bottom li.nav-page{float:left;width:200px;}
ul.cap-top li.actions,ul.cap-bottom li.actions{float:right;font-size:12px;text-align:right;width:350px;}
ul.cap-top li.actions a,ul.cap-bottom li.actions a{float:right;margin:0;padding:0 9px;}
table.topic-list{background:#f9f9f9;border-collapse:collapse;border-spacing:0;border-left:1px solid #eee;border-right:1px solid #eee;width:100%;}
table.topic-list th{background:#ddd;border:1px solid #ddd;color:#000;font-size:10px;text-align:left;padding:6px;}
table.topic-list .name{font-weight:700;width:60%;}
table.topic-list .name .icon{float:left;width:30px;}
table.topic-list .replies,table.topic-list .views{font-size:10px;text-align:center;width:10%;}
table.topic-list .date{font-size:10px;text-align:right;width:20%;}
table.topic{border-collapse:collapse;border-spacing:0;border-bottom:1px solid #eee;width:100%;margin:0;}
table.topic td{padding:9px;}
table.topic td.name,table.topic td.replies,table.topic td.views{border-right:1px solid #eee;vertical-align:middle;}
.forum-registration{border:1px solid #eee;background:#f9f9f9;padding:18px;}
.forum-registration input.cat_textbox,.forum-registration textarea.cat_textbox{width:260px;}
.forum-registration input.cat_button{margin:0 6px 0 0;}
.forum-posts-container .breadcrumb{font-size:11px;padding:6px;}
.forum-posts-container h1{font-size:18px;margin:18px 0;}
.forum-posts-container h2{background:#eee;border:1px solid #eee;color:#888;font-size:10px;font-weight:400;margin:0;padding:3px 18px;}
.forum-posts-container table.container{border-collapse:collapse;border-spacing:0;width:100%;}
.forum-posts-container td{background:#f9f9f9;border:1px solid #ddd;vertical-align:top;padding:18px;}
.forum-posts-container td.author{font-size:11px;width:160px;}
.forum-posts-container h3.name{color:#000;font-size:12px;font-weight:700;}
.forum-posts-container tr.sub td{height:30px;padding:0 18px;}
.forum-posts-container td.action a{float:right;line-height:30px;}
div.forum-posts-container div.post-list a,div.forum-registration a,table.topic-list a{color:#1969bc;}

/* @end */

/* @group Secure Zone Markup */
.secure-lost-password{background:#f9f9f9;border:1px solid #eee;padding:18px;}
.secure-lost-password input.cat_textbox_small{width:210px;}
.secure-update-details input.cat_textbox,.secure-update-details select.cat_dropdown{width:260px;}
.case-search,.secure-update-details{background:#f9f9f9;border:1px solid #eee;margin:0 0 18px;padding:18px;}
/* @end */

/* @group Form Modules */
.secure-login,.newsletter-form{background:#f9f9f9;border:1px solid #f2f2f2;margin-bottom:18px;}
.secure-login h3,.newsletter-form h3{background:#eee;border-bottom:1px solid #eee;font-size:14px;margin:0;padding:6px 18px;}
.product-form h3,.secure-login div.form,.newsletter-form div.form{padding-left:9px;}
/* @end */

/* @group Search */
.search-box{padding:6px;}
.search-box input.cat_textbox_small{margin:0 3px 0 0;}
/* @end */

/* @group Affiliate Program */
table.affiliate-stats{border:1px solid #d7d7d7;border-collapse:collapse;}
table.affiliate-stats td{border:1px solid #d7d7d7;padding:6px;}
table.affiliate-stats td.var{color:#888;}
/* @end */

/* @group Tell a Friend */
.tell-a-friend{border:2px solid #333;background-color:#fff;color:#666;padding:18px;}
.tell-a-friend form{padding:0 0 0 36px;}
.tell-a-friend h1{border-bottom:1px solid #ccc;color:#222;font-size:18px;margin:0;padding:0 0 6px;}
.tell-a-friend h2{border-bottom:1px dotted #ccc;color:#222;font-size:12px;margin:18px 0 9px;}
.tell-a-friend td.var{text-align:right;width:130px;}
.tell-a-friend td{font-size:11px;vertical-align:top;}
.tell-a-friend label{color:#888;font-size:11px;}
.tell-a-friend input.cat_textbox_small{height:21px;}
.tell-a-friend input.cat_textbox_small,.tell-a-friend textarea.cat_listbox{font-size:11px;width:300px;}
/* @end */

/* @group Favourites */
.favourite-registration{border:1px solid #eee;background:#f9f9f9;padding:18px;}
.favourite-registration input.cat_textbox,.favourite-registration textarea.cat_textbox{width:260px;}
.favourite-registration input.cat_button{margin:0 6px 0 0;}
/* @end */

/* @group eCommerce Browse Panel */
.browse-panel{border:1px solid #d7d7d7;}
.browse-panel h5{background:#eee url(/CatalystImages/shop_bg-browse-panel.png) repeat-x;border-bottom:1px solid #d7d7d7;font-size:14px;margin:0;padding:9px;}
.browse-panel h6{background:#f7f7f7;font-size:11px;font-weight:700;margin:0;padding:3px 9px;}
.browse-panel ol{background:#fff;border-bottom:1px solid #e7e7e7;margin:0;padding:9px;}
.browse-panel ol.browse-catalogue{border-bottom:none;}
.browse-panel li{list-style:none;padding:3px 9px;}
.browse-panel li span{display:inline;font-weight:700;}
/* @end */

.booking-list{border-bottom:1px solid #eee;margin:0 0 9px;padding:10px 0 15px;}
.side-panel ul{margin:0 0 30px;padding:0;}
.side-panel ul li{background:none repeat scroll 0 0 rgba(0,0,0,0);border-bottom:1px dotted rgba(0,0,0,0.15);list-style:none outside none;margin:0 0 10px;padding:0 0 10px;}
/*.blog-post{margin-bottom:50px;}*/
.blog-post h3.post-title{text-align:left;margin:0;padding:10px 0 15px;}
.blog-details{display:block;float:left;width:100%;}
.blog-container p.description,.blog-post .post-body{margin:0 0 36px;}
.blog-post .post-details{margin-top:10px;color:#888;font-size:11px;margin:10px 0 18px;}
.blog-post .links{font-size:13px;font-family:"open sans", sans-serif;}
.blog-details div{border-radius:3px;color:#666;float:left;font-size:13px;margin-bottom:10px;margin-right:20px;padding:15px 0;}
.blog-details div i{margin-right:5px;}
.side-panel h4{font-weight:400;font-size:14px;}
.side-panel ul li a{font-size:14px;}
.BlogTagCloud a{background:none repeat scroll 0 0 #eee;border-radius:3px;color:#666;display:inline-block;font-family:Tahoma, sans-serif;font-size:13px;margin:0 5px 10px 0;padding:5px 10px;}

.productItem .image,.productItemLast .image{margin-bottom:20px;padding-top:30px;}
.productList,.productList ul,.catalogueList{overflow:hidden;margin:0;padding:0!important;}
.productList li,.catalogueList li{display:inline;list-style-type:none;}
.catalogueList li .image{margin-bottom:20px;}
.catalogueList li img{width:100%;transition-duration:.5s;}
.productSmall .image img{border:medium none;box-shadow:none;}
.productList li img{transition-duration:.5s;}
.productItem ul.product-details li{display:inline;}
.productList ul li{display:block;}
li.price{font-size:28px;font-family:"open sans", sans-serif;font-weight:600;color:#5e5754;margin:0;}
li.name h5{font-size:16px;font-family:"open sans", sans-serif;margin:0 0 30px;}
.catalogueList .catalogueItemNotFound{display:none;}
.productLarge h1{font-size:36px;line-height:1.35em;}
.productAttributesContainer{border-top:1px dashed rgba(0,0,0,0.15);border-bottom:1px dashed rgba(0,0,0,0.15);margin:20px 0;padding:15px 0;}
#productPoplets .productPopletsItem{background:none repeat scroll 0 0 #fff;border:1px solid rgba(0,0,0,0.15);display:block;margin:0 10px 0 0;padding:15px;}
.poplets{border:none;margin:0;padding:0;}
.poplets img{border:none;}
.wishlist-link{color:#1abc9c;font-family:"open sans", sans-serif;font-size:12px;padding:20px 0 30px;}
.wishlist-link a{text-transform:uppercase;}
.form-row{border-bottom:1px solid #ededed;overflow:hidden;padding:15px 0;}
legend{font-weight:700;}
.info-section{float:left;width:30%;}
.info-section p{padding-right:15px;}
.form-section{float:left;width:70%;}
.form-detail{float:left;width:250px;}
.form-detail p{font-size:12px;}
.form-data{float:right;width:450px;}
#payment-form .form-detail{width:255px;}
#payment-form .form-data{width:570px;}
#payment-form label{width:auto;}
#payment-form input.cat_textbox,#payment-form input.cat_listbox{margin-right:20px;width:92%;}
#payment-form input.cat_textbox{border:1px solid #999;padding:3px; height: 40px;}
#payment-form select.cat_dropdown{margin-right:20px;width:258px;}
input.cat_textbox.sm{width:70px!important;}
#payment-form input.short,#payment-form input.short,#payment-form select.short{width:110px;}
#payment-form input.purchase-amount{background:none repeat scroll 0 0 rgba(0,0,0,0);border:medium none;color:#222;display:inline;float:left;font-size:13px;font-weight:700;width:53px;margin:0;padding:0;}
#purchase-total{background:none repeat scroll 0 0 #fafafa;border-bottom:1px solid #ededed;border-top:1px solid #ededed;margin-bottom:20px;padding:10px;}
.purchase-amount{box-shadow:none!important;float:none!important;}
#purchase-total span{color:#999;font-size:16px;font-weight:700;padding-left:10px;}
.cartrow{border:medium none;font-size:13px;margin-left:0!important;text-transform:uppercase;}
.cartlabel{float:left;font-weight:700;padding-bottom:3px;padding-top:3px;}
.cart-item{color:#333;float:left;font-size:13px;width:10%;}
.productitemcell{border-bottom:1px solid #eee;line-height:20px;overflow:hidden;height:135px;padding:15px 0 0;}
.product-image img{border:none;max-width:75px;}
.cldetails{width:46%;}
.clprice,.cltax,.clcost,.clremove{width:10%;} 
#catCartDetails .product-image{width:13%;}
.product-title{width:33%;}
.clqty,.product-qty{width:14%;}
.product-qty input.cartInputText{width:60%;}
.cart-opt{overflow:hidden;margin:0;padding:10px 0;}
.cart-opt p{margin:0 0 3px;}
#cart-footer hr{margin:3px 0;}
#opt-total-container{background:none repeat scroll 0 0 rgba(0,0,0,0);overflow:hidden;margin:0;padding:20px;}
.opt-total-data .productitemcell{border:medium none;height:auto;padding:0;}
.opt-total-data{display:block;margin-bottom:5px;text-align:right;}
.opt-total-data h3{margin:0;}
select.shippingDropDown{width:95%;height:auto;}
input#DiscountCode,input#GiftVoucher{display:inline;max-width:280px;width:165px;height:50px;}
a#catshopbuy:link,a#catshopbuy:visited,.productSubmitInput{display:block;font-size:16px;text-align:center;text-shadow:none;padding:1em;}
#catCartDetails fieldset,#catCartDetails table{border:medium none;padding:1.25em 0;}
table{background:none;border:none;}
table tr.even,table tr.alt,table tr:nth-of-type(2n){background:none!important;}
table tr th,table tr td{border:none!important;}
table.webform,table.reporting{border:medium none;background:none;}
.reveal-modal{text-align:center;}
.faq-question{position:relative;} 
.breadcrumbs{background:none;border:none;margin-bottom:12px;font-family:"Open Sans", sans-serif;padding:0;}
.breadcrumbs li{margin-bottom:10px;}
.breadcrumbs > * a{color:#6e6460;}
.breadcrumbs > .current a{color:#98918d;}
.blog-aside,.productLarge .image-large,#productPoplets{margin-bottom:30px;}
.catalogueList li img:hover,.productList li img:hover,.product-remove a:hover,.product-remove a:active{opacity:0.8;}

#payment-form input.cat_textbox, #payment-form input.cat_listbox{width:100%;}
#payment-form select.cat_dropdown{width:100%;}
.webform-results table{width:100%;}
@media (max-width: 767px) {
	.cart-item{font-size:12px;}
	.cldetails, .product-title{width:32%  !important;text-align:left;padding-right: 12px;}
	.clprice, .product-price{width:14% !important;text-align:left}
	.clqty, .product-qty{width:13% !important;text-align:left}
	.cltax, .product-tax{width:14% !important;text-align:left}
	.clcost, .product-total{width:14% !important;text-align:left}
	.clremove, .cart-item.product-remove{width:13% !important;}
	.product-remove a:link, .product-remove a:visited{float:none;margin:0 auto;}
	#catCartDetails input.cartInputText{margin:0 5% 0 0;width:95%; float:left;max-width:33px;}
	}


Window size: x 
Viewport size: x